# Compiled class files
*.class

# JAR files
*.jar

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Target directory
/target/

# IDE specific files
.idea/
*.iml
*.ipr
*.iws

.vscode/

# Operating system files
.DS_Store
Thumbs.db